/* 
  For better quality of char img in chat edit config.yaml -> thumbnails:
  enabled: false
  
  Caution for people with thousands of chars! it will make all thairs img load in full size in Character List Panel!
*/

.mesIDDisplay,
.mes_timer,
.tokenCounterDisplay {
  opacity: 0.3 !important;
  text-align: end !important;
  margin-right: 6px !important;
}

.mes {
  padding: 0 !important;
  overflow-y: clip;
}

.mes_block {
  z-index: 1;
  margin-top:  12px !important;
  margin-bottom:  calc(var(--swipeCounterHeight) + var(--swipeCounterMargin) + 6px) !important;
  
}

.mes .mesAvatarWrapper{
  width: 100% !important;
  height: 100% !important;
  position: absolute !important;
}

.mes[is_user="false"] .mesAvatarWrapper {
  z-index: 0;

}

.mes[is_user="false"] .mes_block {
  margin-right: calc(var(--avatar-base-width) * var(--big-avatar-width-factor) * 3) !important;
  margin-left: 12px !important;
}

.mes[is_user="false"] .mesAvatarWrapper .avatar {
  position: absolute !important;
  top: 0 !important;
  right: 0 !important;
  width: calc(var(--avatar-base-width) * var(--big-avatar-width-factor) * 4) !important;
  height: calc(var(--avatar-base-height) * var(--big-avatar-height-factor) * 3) !important;
  -webkit-mask-image:
    linear-gradient(to right, rgba(0, 0, 0, 0) 0%, black 40%),
    linear-gradient(to top, rgba(0, 0, 0, 0) 0%, black 40%);
  mask-image:
    linear-gradient(to right, rgba(0, 0, 0, 0) 0%, black 40%),
    linear-gradient(to top, rgba(0, 0, 0, 0) 0%, black 40%);

  -webkit-mask-composite: destination-in;
  mask-composite: intersect;
  mask-size: 100% 100%;
  mask-repeat: no-repeat;
  border-radius: unset !important;
}

.mes[is_user="true"] .mesAvatarWrapper {
  z-index: 0;
  
}

.mes[is_user="true"] .mes_block {
  margin-left: calc(var(--avatar-base-width) * var(--big-avatar-width-factor) * 3) !important;
  margin-right: 12px !important;
}

.mes[is_user="true"] .mesAvatarWrapper .avatar {
  position: absolute !important;
  top: 0 !important;
  left: 0 !important;
  width: calc(var(--avatar-base-width) * var(--big-avatar-width-factor) * 4) !important;
  height: calc(var(--avatar-base-height) * var(--big-avatar-height-factor) * 3) !important;
  -webkit-mask-image:
    linear-gradient(to left, rgba(0, 0, 0, 0) 0%, black 40%),
    linear-gradient(to top, rgba(0, 0, 0, 0) 0%, black 40%);
  mask-image:
    linear-gradient(to left, rgba(0, 0, 0, 0) 0%, black 40%),
    linear-gradient(to top, rgba(0, 0, 0, 0) 0%, black 40%);

  /* Ensure proper masking behavior */
  -webkit-mask-composite: destination-in;
  mask-composite: intersect;
  mask-size: 100% 100%;
  mask-repeat: no-repeat;
  border-radius: unset !important;
}

.mesAvatarWrapper .avatar img {
  position: absolute;
  width: calc(var(--avatar-base-width) * var(--big-avatar-width-factor) * 4) !important;
  height: calc(var(--avatar-base-height) * var(--big-avatar-height-factor) * 4) !important;

}
